[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
"argon2-cffi" = "*"
coinbase-commerce = "*"
django = ">=2.0.8"
django-appconf = "*"
django-cors-headers = "*"
djangorestframework = "*"
djangorestframework-jwt = "*"
djoser = "*"
"psycopg2" = "*"
python-dotenv = "*"
"web3" = {editable = true, ref = "c32816d74a74be76cbb9987b594ee59826937673", git = "https://github.com/ethereum/web3.py.git"}

[dev-packages]
django-debug-toolbar = "*"
coverage = "*"

[requires]
python_version = "3.6"
